ion-app {
  background-color: #ffffff;
  padding: 0;
  margin: 0;

  ion-header {
    
    ion-toolbar {
      
      ion-item {

        ion-icon {
          margin-top: -30px;
          margin-left: -5px;
          margin-right: 44.8px;
          color: #77CCDE;
          float: left;
        }

        .header-middle {
          float: left;
          margin-top: 46px;
          
          .delivery {
            font-size: 14px;
            color: #1A1818;
          }

          .address {
            font-size: 16px;
            font-weight: 700;
            color: #1A1818;
            
          }
        }

        .changebtn {
          font-size: 14px;
          font-weight: 600;
          color: #5EB57A;
          margin-top: 75px;
          margin-left: 36px;
        }
      }
    }
  }
  ion-content {

    ion-toolbar {

      ion-searchbar {
        margin-top: 24px;
      }

      ion-item {
          font-size: 16px;
        .hot-trend {
          color: #5EB57A;
        }
        .item-2 {
          margin-left: -15px;
          color: #5A5A5A;
        }
        .item-3 {
          margin-left: -30px;
          color: #5A5A5A;
        }
        .item-4 {
          margin-right: -52px;
          color: #5A5A5A;
        }
      }
    }

    ion-grid {
      ion-row {
        margin-left: 10px;
        margin-bottom: -10px;
        .card {
          width: 140px;
          height: 223.5px;
          background-color: #FFF7BF;;
          ion-card-header {
            background-color: #FFF7BF;
            height: 135px;
          }
          ion-card-content {
            margin-left: -10px;
            width: 110%;
            background-color: #C0DFC1;

            ion-text {
              width: 100%;
              font-size: 18px;
              color: #1A1818;
            }
            ion-card-subtitle {
              width: 100%;
              font-size: 18px;
              margin-top: 5px;
              color: #262526;
            }
          }
        }
      }
    }
  }

  ion-footer {
    ion-toolbar {
      ion-item {
        --ion-background-color: #F0684D;
        border-radius: 12px 12px 0px 0px;
        color: #FFFFFF;
        width: 350px;
        margin-left: 9px; 

        .amount-of-product{
          text-align: left;
          font-size: 15px;
        }
        .cart {
          text-align: left;
          font-size: 15px;
        }
        .amount-of-payment {
          text-align: left;
          font-size: 15px;
        }
      }
    }
  }
}


